*.png
*.jpg
*.mat
*.bmp
data/.DS_Store
data/BSDS300-images.tgz
data/BSDS300/.DS_Store
data/BSDS300/iids_test.txt
data/BSDS300/iids_train.txt
data/BSDS300/images/.DS_Store
data/DIV2K_train_HR.zip
data/exploration_database_and_code.rar
data/exploration_database_and_code/.DS_Store
data/exploration_database_and_code/data/.DS_Store
data/exploration_database_and_code/demo.m
data/exploration_database_and_code/ssim.m
data/exploration_database_and_code/support_functions/compute_objective_score.m
data/exploration_database_and_code/support_functions/D_test.m
data/exploration_database_and_code/support_functions/distortion_generator.m
data/exploration_database_and_code/support_functions/L_test.m
data/exploration_database_and_code/support_functions/open_bitfield_bmp.m
data/exploration_database_and_code/support_functions/P_test.m
.DS_Store
